/* .dashboard { */
  /* padding-top: 52px; */
/* } */

.header {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.welcome {
  font-size: 24px;
  /* margin-bottom: 2px; */
}

.date {
  color: gray;
}

.button {
  margin-left: auto;
}


