.dashboard {
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }

  .welcome {
    font-size: 24px;
  }

  .date {
    color: #9D9EB1;
  }

  .button {
    margin-left: auto;
  }
}
